@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i');

body{
  margin: 0px;
  background-color: #F2F1E9;
}

header{
  background-color: #FFFFFF;
  font-family: 'Roboto';
  position: fixed;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-content: center;
}

nav{
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  list-style-type: none;
  width: 100%;
}

nav a{
list-style-type: none;
display: inline-flex;
justify-content: space-around;
align-items: center;
color: #2B2F26;
}


.logo img{
  list-style-type: none;
  float: left;
  width: 30px;
  height: 40px;

}

/*{
  display: inline-flex;
  background-color: #FFFFFF;
  justify-content: space-around;
  align-items: center;
}*/


/*nav a{

  display: inline-block;
}*/

nav a:active{
  color: #968772;
}

nav a:hover{
  color: #CD5D67;
}

h1{
  text-align: center;
  font-family: 'Merriweather';
  font-size: 70px;
  font-weight: normal;
  color:  #131511;
  position: relative;
  padding: ;
  z-index: 1;
}

h2{
  text-align: left;
  font-family: 'Merriweather';
  font-size: 40px;
  font-weight: normal;
  color:  #131511;
  position: relative;
  z-index: 2;

}


main{
  margin: 0;
  word-wrap: normal;
}

.Products{
  margin-right: 15px;
}

.product-imgs{
  display: flex;
  list-style: none;
  flex-flow: wrap;
}

.product-image{
  margin: 3px;
}

.Products li text{
  display: inline-flex;
  padding: 5px;
  background-color: #131511;
  color: #F2F1E9;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: 'Merriweather';
  margin-top: 200px;
}

#product1{
  background-image: url('images/product-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  width: 725px;
}
#product1 text{
  margin-top: 320px;
}

#product2{
  background-image: url('images/product-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  width: 227px;
}

#product2 text{
  margin-top: 320px;
}

#product3{
  background-image: url('images/product-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  width: 227px;
}

#product3 text{
  margin-top: 320px;
}

#product4{
  background-image: url('images/product-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 236px;
}

#product5{
  background-image: url('images/product-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 236px;
  }

#product6{
  background-image: url('images/product-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 482px;
  height: 236px;
}
#product7{
  background-image: url('images/product-7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 239px;
}


/* ABOUT PAGE*/

article img{
  background-image: url('images/birdhouse.jpg');
  width: 160px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

blockquote{
  margin: 205px;
}
p{
  font-size: 20px;
  word-wrap: normal;
  margin: 80px;
}

h2{
  margin: 80px;
}

 #aloe{
  background-image: url('images/background-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 324px;
  width: ;
  margin-left: 0px;

}
#aloe text{
  font-size: 40px;
  color: white;
  margin-left: 500px;
}

table{
  align-items: flex-start;
  margin: 25px 80px 25px;
  padding: 25px;
  border-collapse: collapse;
}

tbody tr:nth-child(odd){
  background-color: #F2E9DD ;
}
thead{
  font-weight: bold;
}

.Table h2{
  margin-left: 80px;
}

th{
  font-weight: bold;
  border: thin solid #2B2F26;
  padding: 15px;
}

tr td{
  text-align: left;
}

td{
  padding: 15px;
  border: thin solid #2B2F26;
  text-align: left;
}




/*NEWSLETTER PAGE*/


.background-2{
  background-image: url('images/background-2.jpg');
  background-size: cover;
}



fieldset{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 60px 80px 60px;
  background-color: #FFFFFF;
}

.Newsletter{
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.news-header1{
  font-size: 30px;
  font-weight: bold;
  color: #131511;
  text-align: center;
}

.news-header2{
  font-size: 20px;
  color: #131511;
  text-align: center;
}

label{
  font: 16px #131511;
  padding: 10px;
  font-family: 'Roboto';
}

input{
  border-bottom: solid  #968772;
  border-color: #968772;
  border-style: none;
  width: 200px;
  padding: 10px;
  align-items: center;
}

button{
  display: flex;
  font-size: 20px;
  font-family: 'Roboto';
  padding: 10px;
  margin: 60px 60px 60px 60px;
  color: #F2F1E8;
  background-color: #968772;
  align-items: center;
  justify-content: center;
}

footer{
  background-color: #2B2F27;
  color: white;
  width: auto;
  padding: 25px;
}
