*{
  box-sizing:
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i');

body{
  margin: 0px;
  background-color: #F2F1E9;
}

header{
  display: flex;
  background-color: #FFFFFF;
  font-family: 'Roboto';
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
}

nav{
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  width: 100%;
  height: 60px;


}
nav a{
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  color: #2B2F26;
}


.logo img{
  list-style-type: none;
  float: left;
  width: 30px;
  height: 40px;
  margin-left: 10px;

}

/*{
  display: inline-flex;
  background-color: #FFFFFF;
  justify-content: space-around;
  align-items: center;
}*/


/*nav a{

  display: inline-block;
}*/

nav a:active{
  color: #968772;
}

nav a:hover{
  color: #CD5D67;
}

.name{
  margin-bottom: 40px;
  text-align: center;
}

.name h1{
  font-family: 'Merriweather';
  font-size: 70px;
  font-weight: normal;
  color:  #131511;
  margin-bottom: 10px;

}

.name span{

  font-family: 'Merriweather';
  font-size: 40px;
  font-weight: normal;
  color:  #131511;

}


/*main{
  margin: 0;
  word-wrap: normal;
}

.Products{

}*/

.product-imgs{

  display: flex;
  list-style: none;
  flex-flow: wrap;
}

.product-image{
  margin: 3px;
}

.Products li text{
  display: inline-flex;
  padding: 5px;
  background-color: #131511;
  color: #F2F1E9;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: 'Merriweather';
  margin-top: 200px;
}

#product1{
  background-image: url('images/product-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  width: 725px;
}
#product1 text{
  margin-top: 320px;
}

#product2{
  background-image: url('images/product-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  width: 227px;
}

#product2 text{
  margin-top: 320px;
}

#product3{
  background-image: url('images/product-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  width: 227px;
}

#product3 text{
  margin-top: 320px;
}

#product4{
  background-image: url('images/product-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 236px;
}

#product5{
  background-image: url('images/product-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 236px;
  }

#product6{
  background-image: url('images/product-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 482px;
  height: 236px;
}
#product7{
  background-image: url('images/product-7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 239px;
}


/* ABOUT PAGE*/

article img{
  background-image: url('images/birdhouse.jpg');
  background-size: cover;
  height: 120px;
  width: 165px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}

article h1{
  color: #131511;
  font-size: 67px;
  font-weight: 400px;
  margin-bottom: 65px;
  margin-top: 0px;
  padding-top: 120px;
  text-align: center;
}

blockquote{
  border-left: 2px solid #968772;
  margin-left: 20%;
}

blockquote p{
  color: #131511;
    font-family: 'Merriweather', serif;
    font-size: 14.5px;
    line-height: 2.4rem;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 45px;
    margin-left: 5%;
    margin-right: 0;
    padding-right: 0px;

}



p{
  font-size: 20.5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-attachment: scroll;
  text-align: left;
  line-height: 2.5rem;

}

h2{
  font-family: 'Merriweather', serif;
  color: #131511;
  font-size: 30px;
  font-weight: 300;
  margin-left: 20%;
}

 #aloe{
  background-image: url('images/background-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 324px;
  background-attachment: fixed;
}

#aloe text{
  font-family: 'Merriweather', serif;
  color: #FFFFFF;
  font-size: 65px;
  font-weight: 400;
  text-align: center;
  padding-top: 120px;
  position: absolute;
  margin-left: 40%;

}

.shelfimg{
  width: 160px;
  padding-top: 15px;
  margin-right: 15%;
  float: right;

}

.shelfimg img{
  background-image: url("../images/background-1");
  background-size: cover;
  background-repeat: no-repeat;
  width: 160px;
  height: 120px;
  float: right;

}

table{
  align-items: flex-start;
  margin-left: 20%;
  margin-bottom: 3%;
  padding: 25px;
  border-collapse: collapse;
}

tbody tr:nth-child(odd){
  background-color: #F2E9DD ;
}
thead{
  font-weight: bold;
}

.Table h2{
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 1%;
}

th{
  font-weight: bold;
  border: thin solid #2B2F26;
  padding: 15px;
}

tr td{
  text-align: left;
}

td{
  padding: 15px;
  border: thin solid #2B2F26;
  text-align: left;
}




/*NEWSLETTER PAGE*/


.background-2{
  background-image: url('images/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}



form{
  width: 611px;
  height: 382px;
  margin: 120px 60px 80px 60px;
  background-color: #FFFFFF;
  padding: 30px;
}

/*.Newsletter{
  background-color: #FFFFFF;
  justify-content: center;
  margin: 50%;
}*/

.news-header1{
  font-family: 'Merriweather';
  font-size: 30px;
  color: #131511;
  margin-bottom: 1px;
  text-align: center ;
  margin-left: 2px;
}

.news-header2{
  font-size: 20px;
  color: #131511;
  text-align: center;
}

/*.signupinfo{
  font-family: "Roboto";
  justify-content: left;
  align-items: ;
}*/

.signupinfo input{
  border-bottom: solid 2px #968772;
  color: #968772;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
  width: 90%;
}

.signupinfo input:focus{
  border-bottom: #967343;
}

button{
  font-size: 20px;
  font-family: 'Roboto';
  padding: 15px;
  margin-top: 30px;
  margin-left: 40%;
  color: #F2F1E8;
  background-color: #968772;
}

button:hover{
  background-color: #967343;
  color: #FFFFFF;
}

footer{
  background-color: #2B2F27;
  color: white;
  width: auto;
  padding: 25px;
}
